.left_settled {
    position: relative;
    color: #ee0055;
    
    border-left: 1px solid #ee0055;
}

.left_settled>span {
    font-size: 20px;
    position: absolute;
    right: 0;
}

.body_right {
    width: 936px;
    float: right;
}

.right_title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ee0055;

    line-height: 50px;
}

.right_title :first-child {
    color: #ee0055;
    font-size: 12px;

    margin-left: 10px;
}

.right_title :last-child {
    font-size: 18px;
    color: #333;
}

.right_top>div {
    float: left;

    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.right_first {
    width: 290px;
    color: #ee0055;
}

.right_second {
    width: 400px;
    color: #666;
}

.right_three {
    width: 246px;
    color: #666;
}
.right_top::after{
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
}

.right_circular {
    width: 900px;
    margin: auto;
}

.right_circular>div {
    float: left;
}

.circular_first {
    width: 213px;
    height: 1px;
    background-color: #d7d7d7;
}

.external {
    margin-left: 50%;
    transform: translate(-50%,-5px);

    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ee0055;

}

.inside {
    margin-left: 50%;
    transform: translate(-50%,2px);

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}

.external_copy {
    background-color: #d7d7d7;
}

.circular_second {
    width: 480px;
    height: 1px;
    background-color: #d7d7d7;
}

.circular_copy {
    transform: translate(10px,-5px);
}

.circular_three {
    width:207px;
    height: 1px;
    background-color: #d7d7d7;
}


.right_store {
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
}
.right_store>p {
    font-size: 18px;
    color: #666;
}

.right_store>span {
    display: inline-block;

    margin-top: 20px;
    margin-left: 20px;
}

.right_input,.down_box {
    margin-top: 20px;
    width: 220px;
    height: 40px;

    color: #666;
    text-indent: 2em;
}

.right_button {
    display: block;
    margin-top: 100px;
    margin-left: 30px;

    width: 255px;
    height: 45px;
    background-color: #ee0055;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.arrow_none {
    display: none;
}

.left_cont {
    cursor: pointer;
}

.right_placeholder {
    color: #666;
    font-size: 12px;
    position: absolute;
    line-height: 40px;
}