

/* 中心主要内容 */
/* 上面的标题板块 */

.business_main_content {
    height: 40px;
    padding: 37px 16px 20px 54px;
}

.business_main_title {
    width: 861px;
    height: 40px;
    margin-bottom: 30px;

    background-color: #eaeaea;
    border-radius: 10px;
}

.business_main_title li {
    float: left;
    width: 287px;
    height: 40px;

    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #666;

    cursor: pointer;
}

.business_main_title li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.business_main_title li:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.business_main_title .change_color {
    background-color: #e05;

    color: #fff;
}

.business_main {
    padding-left: 37px;
}

/* 产品的主要内容 */
/* 表头 */

.business_box table {
    border: 1px solid #000;
    border-collapse: collapse;

    text-align: center;
}

.business_box table thead {
    height: 50px;
    background-color: #f1f1f1;
}

.check_btn {
    position: relative;
    display: inline-block;
    
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.change_check_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: #e05;
}

.btn {
    width: 30px;
}

.number {
    width: 45px;
}

.product_picture {
    width: 130px;
}

.product_name {
    width: 175px;
}

.product_class {
    width: 395px;
}

.operation {
    width: 120px;
}

/* tbody内容 */

.business_box table tbody tr {
    height: 75px;
    border-bottom: 1px dashed #000;
}

.business_box table tbody tr img {
    width: 70px;
    height: 55px;
}

.business_box table tbody .delete {
    display: inline-block;

    width: 40px;
    height: 20px;
    background-color: #e05;
    border-radius: 5px;
    margin: 0 5px;

    line-height: 20px;
    color: #fff;
    font-size: 12px;

    cursor: pointer;
}

/* 分页器 */
.business_center .show_page ul {
    float: right;

    margin-top: 15px;
    padding-right: 30px;
}

.business_center .show_page ul li {
    display: inline-block;

    width: 37px;
    height: 37px;
    background-color: #f1f1f1;

    text-align: center;
    line-height: 37px;
    color: #666;

    cursor: pointer;
}

.change_page {
    margin: 0 10px;
}

.business_center .show_page ul .change_page_color {
    background-color: #e05;

    color: #fff;
}