/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

/* 商家中心中间的板块 */

.public_body>div:first-child {
    float: left;
}

.business_center {
    width: 932px;
    margin-left: 270px;
}

/* 中心标题 */

.business_center .business_title {
    width: 100%;
    border-bottom: 2px solid #e05;
    padding-top: 15px;

    font-size: 18px;
    line-height: 35px;
    color: #333;
}

.business_title::before {
    content: "※";
    padding-right: 15px;

    color: #e05;
    font-size: 14px;
}

/* 中心主要内容 */
/* 上面的标题板块 */

.business_main_content {
    padding: 37px 16px 0 54px;
}

.business_main_title {
    width: 861px;
    height: 40px;
    margin-bottom: 30px;

    background-color: #eaeaea;
    border-radius: 10px;
}

.business_main_title li {
    float: left;
    width: 287px;
    height: 40px;

    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #666;

    cursor: pointer;
}

.business_main_title li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.business_main_title li:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.business_main_title .change_color {
    background-color: #e05;

    color: #fff;
}

/* 产品的主要内容 */
/* 表头 */

.business_main_content table {
    border: 1px solid #000;
    border-collapse: collapse;

    text-align: center;
}

.business_main_content table thead {
    height: 50px;
    background-color: #f1f1f1;
}

.check_btn {
    position: relative;
    display: inline-block;
    
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.change_check_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: #e05;
}

.btn {
    width: 30px;
}

.number {
    width: 45px;
}

.product_picture {
    width: 130px;
}

.product_name {
    width: 175px;
}

.product_class {
    width: 395px;
}

.operation {
    width: 120px;
}

/* tbody内容 */

.business_main_content table tbody tr {
    height: 75px;
    border-bottom: 1px dashed #000;
}

.business_main_content table tbody tr img {
    width: 70px;
    height: 55px;
}

.business_main_content table tbody .delete {
    display: inline-block;

    width: 40px;
    height: 20px;
    background-color: #e05;
    border-radius: 5px;

    line-height: 20px;
    color: #fff;
    font-size: 12px;

    cursor: pointer;
}

/* 分页器 */
.business_center .show_page 