/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

/* 商家中心中间的板块 */

.public_body>div:first-child {
    float: left;
}

.business_center {
    width: 932px;
    margin-left: 270px;
}

/* 中心标题 */

.business_center .business_title {
    width: 100%;
    border-bottom: 2px solid #e05;
    padding-top: 15px;

    font-size: 18px;
    line-height: 35px;
    color: #333;
}

.business_title::before {
    content: "※";
    padding-right: 15px;

    color: #e05;
    font-size: 14px;
}